@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');
$fontFamily: 'Comic Neue', cursive;
$fontSize: 1em;
$margin: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1140px;
$primaryColor: #0AB4C6;
$blackColor: black;
$whiteColor: white;
