@import 'variables';

.home{
  border: 2px solid black;
  padding: 20px;
  position: relative;
  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    color: white;
    z-index:1;
    font-size: 200%;
    text-shadow: 1px 1px 2px $primaryColor;
  }

}
